@charset "utf-8";
/************************************************************************
* filename		: main.css
* dscription	: main  CSS import
* author		: ars9845
* date			: 2020.07.03
+ version		: v1.0
************************************************************************/

.top-type-menu .type-tab {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;  
    width: 100%;
    height: 92px;    
}
.type-104002-bg, 
.type-104012-bg {  
    background-image: url("https://dev.rankingball.com:13001/img/newbg-baseball@2x.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
}
.top-type-menu .type-tab li {        
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;  
    height: 92px;      
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-family: "play";           
    text-align: center;
    cursor: pointer;
}
.top-type-menu .type-tab li a{
    z-index:9;
}
.top-type-menu .type-tab li.active,
.top-type-menu .type-tab li:hover{
    color:#fff;
}
.top-type-menu .type-tab li.active:after,
.top-type-menu .type-tab li:not(disabled):hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 68px;
    margin: 0 0 0 -12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #fff;
}
.top-type-menu .type-tab li > div{
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.top-type-menu .type-tab li em{
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    width:24px;
    height:24px;
    margin:0 auto 5px;
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.top-type-menu .type-tab li .i-000000 {
    background-image: url("https://dev.rankingball.com:13001/img/icon_single_star.png");    
}
.top-type-menu .type-tab li .i-104001 {
    background-image: url("https://dev.rankingball.com:13001/img/type_tab3.png");
}
.top-type-menu .type-tab li .i-104002 {
    background-image: url("https://dev.rankingball.com:13001/img/type_tab2.png");
}
.top-type-menu .type-tab li .i-104003 {
    background-image: url("https://dev.rankingball.com:13001/img/type_tab4.png");
}
.top-type-menu .type-tab li .i-104004 {
    background-image: url("https://dev.rankingball.com:13001/img/type_tab5.png");
}
.top-type-menu .type-tab li .i-105001 {
    background-image: url("https://dev.rankingball.com:13001/img/esports_type_lol.png");
    background-size: 114% 114%;
    background-position: -1px -1px;
}
.top-type-menu .type-tab li:hover .i-000000,
.top-type-menu .type-tab li.active .i-000000 {
    background-image: url("https://dev.rankingball.com:13001/img/icon_single_star_on.png");
}
.top-type-menu .type-tab li:hover .i-104001,
.top-type-menu .type-tab li.active .i-104001 {
    background-image: url("https://dev.rankingball.com:13001/img/type_tab3_on.png");
}
.top-type-menu .type-tab li:hover .i-104002,
.top-type-menu .type-tab li.active .i-104002 {
    background-image: url("https://dev.rankingball.com:13001/img/type_tab2_on.png");
}
.top-type-menu .type-tab li:hover .i-104003,
.top-type-menu .type-tab li.active .i-104003 {
    background-image: url("https://dev.rankingball.com:13001/img/type_tab4_on.png");
}
.top-type-menu .type-tab li:hover .i-104004,
.top-type-menu .type-tab li.active .i-104004 {
    background-image: url("https://dev.rankingball.com:13001/img/nba/icon_NBA.png");
}
.top-type-menu .type-tab li:hover .i-105001,
.top-type-menu .type-tab li.active .i-105001 {
    background-image: url("https://dev.rankingball.com:13001/img/icon-lol.png");
    background-size: 100% 100%;
    background-position: 0 0;
}


.top-type-menu .top-sub-menubox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; 
    width: 100%;
    height: 81px;    
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #cbcbcd;
    z-index: 99;
}
.top-type-menu .top-sub-menubox.off{
    display:none;
}
.top-type-menu .top-sub-menu{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;     
    width:540px; 
	height:44px;
	margin:0 auto;
	border:1px solid #0066cc;
	border-radius: 4px 4px;
	justify-content: space-between;	
}
.top-type-menu .top-sub-menu li{	
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;       
    justify-content: center;
    height:46px;	
	color:#0066cc;	
	font-family: 'Noto Sans';
	font-weight:bold;
	font-size:16px;	
	border-right:1px solid #0066cc;
	background-position:center 35px;
	background-repeat:no-repeat;
	-webkit-flex: 1;
    flex: 1;
    cursor: pointer;			
}
.top-type-menu .top-sub-menu li:nth-last-child(1){
	border-right:0;
}
.top-type-menu .top-sub-menu li:hover{
	color:#fff;
	background-color:#0066cc;
}
.top-type-menu .top-sub-menu li.active{
	color:#fff;
	background-color:#0066cc;
}
.stat-icon{
	position:relative;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    padding: 15px 0 17px 0;    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.stat-icon.off{
    display:none;
}
.stat-icon > span{	
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    height:20px;
    padding: 0 20px 0 26px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #666666;
	 -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background-size: 20px 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.stat-icon span.lineup{
	background-image: url("https://dev.rankingball.com:13001/img/Icon_stat_Lineup_On@2x.png");
}
.lol .stat-icon span.lineup{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-lol-on@2x.png");
}
.mlb .stat-icon span.lineup,
.kbo .stat-icon span.lineup{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-mlb-on.png");
}
.stat-icon span.stream{
	background-image: url("https://dev.rankingball.com:13001/img/icon_stat_Streaming@2x.png");
}
.stat-icon span.live{
	background-image: url("https://dev.rankingball.com:13001/img/icon_stat_Twitch@2x.png");
}
.stat-icon .btn-box{
	position:absolute;
	right:38px;
	top:0;
	padding:9px 0 0 0;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}
.stat-icon .btn-box .tit {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    height: 20px;
    padding: 6px 20px 0 26px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background-size: 20px 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.stat-icon .btn-box .top-howto{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    width: 136px;
    height: 32px;       
    margin:0 0;
    padding: 7px 0 0 16px;
    border-radius: 3px;
    background-color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;    
    background-position: 94% 7px;
    background-repeat: no-repeat;
    background-image: url("https://dev.rankingball.com:13001/img/Icon_Play.png");
}
.stat-icon .btn-box .top-howto:hover{
	cursor:pointer;
	background-color:#666666;
}
.stat-icon .btn-box .go-exchange{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;	    
    width: 136px;
	height: 32px;	
	margin: 0 12px 0 0;
	padding: 7px 0 0 16px;
	border-radius: 3px;
	background-color: #003367;	
	font-size: 12px;
	font-weight: 500;	
	text-align: left;
	color: #ffffff;	
    background-position: 94% 7px;
    background-repeat: no-repeat;
    background-image:url("https://dev.rankingball.com:13001/img/icon_Exchange_P.png");   	
}
.stat-icon .btn-box .go-exchange:hover{
	cursor:pointer;
	background-color:#666666;
}

.stat-icon .btn-box .btn-aos,
.stat-icon .btn-box .btn-ios{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    width: 102px;
    height: 30px;        
    padding: 0 0;
    background-position:100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("https://dev.rankingball.com:13001/img/btn-download-i-os@2x.png");
    cursor:pointer;
}
.stat-icon .btn-box .btn-aos{
	margin:0 0 0 4px;
	background-image: url("https://dev.rankingball.com:13001/img/btn-download-google@2x.png");
}



.match-list li {
    position: relative;
    width: 100%;
    max-width: 1148px;
    margin: 0 auto 54px;
}
.match-list li:after {
    content: "";
    display: block;
    clear: both;
}
.match-list li .date-tit {
    height: 29px;
    margin: 0 auto 22px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}
.match-list li .match-box {
    position: relative;
    float: left;
    width: 100%;
    max-width: 564px;
    height: 180px;
    margin: 0 0 20px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}
.match-list li .match-box:hover:before {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    width: 564px;
    height: 180px;
    border: 4px solid #0066cc;
}
.match-list li .match-box:nth-child(even) {
    margin: 0 0 20px 0;
}
.match-list li .match-box .match-top {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    padding: 0 10px 0 24px;
    height: 44px;
    border-bottom: 1px solid #cfd4d7;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}
.match-list li .match-box .match-top > div:nth-child(1) {
    font-size: 15px;
}
.match-list li .match-box .match-top > div:nth-child(1).league-box{
	position: relative;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex; 
    height:44px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;  
	padding: 0 0 0 0;
}
.match-list li .match-box .match-top > div:nth-child(1).league-box > div{
	width:40px;
	margin: 0 4px 0 0;
	line-height: 12px;
	text-align:center;
}
.match-list li .match-box .match-top > div:nth-child(1).league-box > div > p{	
	width:20px;
	height:20px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #555555;
	background-size: 20px 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.match-list li .match-box .match-top > div:nth-child(1).league-box > div > span{
	font-size:12px;
}
.match-list li .match-box .match-top > div:nth-child(1) p.i-104001,
.match-list li .match-box .match-top > span:nth-child(1).i-104001{	
	background-image:url("https://dev.rankingball.com:13001/img/icon-soccer.png");	
}
.match-list li .match-box .match-top > div:nth-child(1) p.i-104002,
.match-list li .match-box .match-top > span:nth-child(1).i-104002,
.match-list li .match-box .match-top > div:nth-child(1) p.i-104012,
.match-list li .match-box .match-top > span:nth-child(1).i-104012{	
	background-image:url("https://dev.rankingball.com:13001/img/icon-baseball.png");	
}
.match-list li .match-box .match-top > div:nth-child(1) p.i-104003,
.match-list li .match-box .match-top > span:nth-child(1).i-104003{	
	background-image:url("https://dev.rankingball.com:13001/img/icon-football.png");	
}
.match-list li .match-box .match-top > div:nth-child(1) p.i-104004,
.match-list li .match-box .match-top > span:nth-child(1).i-104004{	
	background-image:url("https://dev.rankingball.com:13001/img/icon-basketball.png");	
}
.match-list li .match-box .match-top > div:nth-child(1) p.i-104005,
.match-list li .match-box .match-top > span:nth-child(1).i-104005{
	background-image:url("https://dev.rankingball.com:13001/img/icon_Hockey_List@2x.png");	
}
.match-list li .match-box .match-top > div:nth-child(1) p.i-105001,
.match-list li .match-box .match-top > span:nth-child(1).i-105001{	
	background-image:url("https://dev.rankingball.com:13001/img/icon-lol-gr@2x.png");	
}
.match-list li .match-box .match-top .join{
    display:none;
}
.match-list li .match-box .match-top .match-time {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0066cc;
}

.match-list li .match-box .match-top .stats-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.match-list li .match-box .match-top .stats-box .lineup{
	width:24px;
	height:24px;
	margin: 0 0 0 6px;
	background-image: url("https://dev.rankingball.com:13001/img/Icon_stat_Lineup_Off@2x.png");
	background-size: 24px 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.match-list li .match-box.my .match-top .stats-box .lineup{
	background-image: url("https://dev.rankingball.com:13001/img/Icon_Lineup_Off_Joined@2x.png");	
}
.match-list li .match-box .match-top .stats-box .lineup.on{
	background-image: url("https://dev.rankingball.com:13001/img/Icon_stat_Lineup_On@2x.png");
}
.match-list li .match-box.lol .match-top .stats-box .lineup{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-lol-off@2x.png");
}
.match-list li .match-box.lol.my .match-top .stats-box .lineup{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-lol-off-joined@2x.png");	
}
.match-list li .match-box.lol .match-top .stats-box .lineup.on{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-lol-on@2x.png");
}
.match-list li .match-box.mlb  .match-top .stats-box .lineup,
.match-list li .match-box.kbo .match-top .stats-box .lineup{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-mlb-off.png");
}
.match-list li .match-box.mlb .my .match-top .stats-box .lineup,
.match-list li .match-box.kbo.my .match-top .stats-box .lineup{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-lol-off-joined@2x.png");	
}
.match-list li .match-box.mlb  .match-top .stats-box .lineup.on,
.match-list li .match-box.kbo .match-top .stats-box .lineup.on{
	background-image: url("https://dev.rankingball.com:13001/img/icon-lineup-mlb-on.png");
}
.match-list li .match-box .match-top .stats-box .stream{
    display:none;
	width:24px;
	height:24px;
	margin: 0 0 0 6px;
	background-image: url("https://dev.rankingball.com:13001/img/icon_stat_Streaming@2x.png");
	background-size: 24px 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.match-list li .match-box .match-top .stats-box .live{
    display:none;
	width:24px;
	height:24px;
	margin: 0 0 0 6px;
	background-image: url("https://dev.rankingball.com:13001/img/icon_stat_Twitch@2x.png");
	background-size: 24px 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.match-list li .match-box .match-top .stats-box .btn-stats{
	position:relative;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
	width: 65px;
	height: 24px;
	margin: 0 0 0 16px;
	padding: 0 0 0 23px;
	font-size: 11px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #0066cc;
	border-radius: 2px;
	border: solid 1px #d8d8d8;
	background-color: #ffffff;
	background-image: url("https://dev.rankingball.com:13001/img/Icon_match_Stat@2x.png");
	background-size: 14px 13px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    cursor:pointer;
    z-index:1;
}
.match-list li .match-box .match-top .stats-box .btn-stats:hover{
	color:#fff;
	background-color: #0066cc;
	background-image: url("https://dev.rankingball.com:13001/img/Icon_match_Stat@2x_over.png");
}
.match-list li .match-box .match-top .stats-box .btn-stats.off,
.match-list li .match-box .match-top .stats-box .btn-stats.off:hover{
	color: #e5e5e5;
	border: solid 1px #e5e5e5;
  	background-color: #ffffff;
  	background-image: url("https://dev.rankingball.com:13001/img/Icon_match_Stat@2x_off.png");
  	cursor: not-allowed;
}
.match-list li .match-box.my .match-top .stats-box .btn-stats.off,
.match-list li .match-box.my .match-top .stats-box .btn-stats.off:hover{	
	color: #4d94db;
	border: solid 1px #4d94db;  	
  	background-color: #0066cc;
  	background-image: url("https://dev.rankingball.com:13001/img/Icon_Stat_Gr@2x.png");
  	cursor: not-allowed;	
}
.match-list li .match-box .match-bottom {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    height: 136px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.match-list li .match-box .match-bottom .soccer-team-box,
.match-list li .match-box .match-bottom .team-box{
    width: 100%;
    max-width: 282px;
    padding: 0 0 0 20px;
    font-family: Play;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.match-list li .match-box.mlb .match-bottom .team-box,
.match-list li .match-box.kbo .match-bottom .team-box{
	font-size: 24px;
}
.match-list li .match-box .match-bottom .team-box > div{	
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    height:53px;    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.match-list li .match-box .match-bottom .soccer-team-box > div{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    height:53px;    
	flex-direction: column;
	font-size:24px;
}
.match-list li .match-box .match-bottom .soccer-team-box > div .score{
	font-family: 'Noto Sans KR';
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #666666;
}
.match-list li .match-box .match-bottom .soccer-team-box > div .score em{
	font-style: normal;
}
.match-list li .match-box .match-bottom .soccer-team-box > div:nth-child(1),
.match-list li .match-box .match-bottom .team-box > div:nth-child(1){
	margin:0 0 6px 0;	
}
.match-list li .match-box .match-bottom .team-box > div.lose,
.match-list li .match-box .match-bottom .team-box > div.lose em{
	color: #888888;
}
.match-list li .match-box .match-bottom .team-box .t-logo{
	width:40px;
	height:40px;
	margin: 0 8px 0 0;
	background-size: 120% 120%; 
	background-position: -4px -4px;	
    background-repeat: no-repeat; 
}
.match-list li .match-box.soccer .match-bottom .team-box .t-logo{	
	background-size: 100% 100%; 
	background-position: 0 0;	 	
    background-image: url("https://dev.rankingball.com:13001/img/icon-soccer.png");
}
.match-list li .match-box.mlb .match-bottom .team-box .t-logo,
.match-list li .match-box.kbo .match-bottom .team-box .t-logo{	
	background-size: 100% 100%; 
	background-position: 0 0;	 	
    background-image: url("https://dev.rankingball.com:13001/img/icon-baseball.png");
}
.match-list li .match-box.lol .match-bottom .team-box .t-logo{	
	background-size: 100% 100%; 
	background-position: 0 0;	 	
    background-image: url("https://dev.rankingball.com:13001/img/Logo_LOL_Default@1x.png");
}
.match-list li .match-box .match-bottom .team-box .t-team{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
	width:100%;
	max-width:200px;
	text-align:left;
}
.match-list li .match-box .match-bottom .team-box em{
	width:100%;
	max-width:100%;
	margin:0 0 0 6px;
	font-family:'Noto Sans KR';
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #666666;
}
.match-list li .match-box.up .match-bottom .team-box .t-team{
	max-width:150px;
}
.match-list li .match-box.his .match-bottom .team-box .t-team {
    max-width: 137px;
}
.match-list li .match-box .match-bottom .team-box .score {
    width: 100%;
    max-width: 50px;
    text-align: right;
}

.match-list li .match-box .match-bottom .total-box {
    width: 100%;
    max-width: 282px;
    height: 136px;
    border-left: 1px solid #cfd4d7;
    background-color: #ecf1f5;
    text-align: center;
}
.match-list li .match-box .match-bottom .total-box .t-prize {
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #444444;
}
.match-list li .match-box .match-bottom .total-box .t-sum {
    margin: 0 0 18px 0;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2c2c2c;
}
.match-list li .match-box .match-bottom .total-box .t-total {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

.match-list .match-live-list,
.match-list .match-live{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    width: 100%;
    max-width: 860px;
    height: 160px;
    margin: 0 auto 28px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 9;
    cursor:pointer;
}
.match-list .match-live-list:hover:after {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    width: 860px;
    height: 160px;
    border: 4px solid #0066cc;
}
.match-list .match-live-list .tm-first,
.match-list .match-live-list .tm-second{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 349px;
    height:160px;    
}
.match-list .match-live-list .tm-first .t-first, 
.match-list .match-live-list .tm-second .t-second{
    width: 100%;    
    max-width: 187px;    
    font-family: "play";    
    font-size: 28px;
    font-weight: bold;
    color: #333333;    
    text-align: center;
}
.match-list .match-live-list.soccer .t-first, 
.match-list .match-live-list.soccer .t-second{
    max-width: 248px;
}
.match-list .match-live-list .tm-first .t-logo, 
.match-list .match-live-list .tm-second .t-logo{
    display: inline-block;
    width: 100px;
    height: 100px;           
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-align: center;
}
.match-list .match-live-list .tm-first .t-board, 
.match-list .match-live-list .tm-second .t-board{
    width: 80px;    
    font-family: Play;
    font-size: 44px;
    font-weight: bold;
    color: #151515;
    text-align: center;
}

.match-list .match-live-list .tm-infor{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 166px;
    width: 100%;
    text-align: center;
}
.match-list .match-live-list .tm-infor span:nth-child(1){
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    font-weight: 500;
    color: #555555;
    padding: 22px 0 0 0;
    -webkit-justify-content: center;
    justify-content: center;
}
.match-list .match-live-list .tm-infor .i-104001{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px 10px 0 0;
    background-image: url("https://dev.rankingball.com:13001/img/icon-soccer.png");
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.match-list .match-live-list .tm-infor .i-105001{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px 10px 0 0;
    background-image: url("https://dev.rankingball.com:13001/img/icon-lol-gr@2x.png");
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.match-list .match-live-list .tm-infor span:nth-child(2) {
    width: 135px;
    margin: 0 auto;
    padding: 15px 0 0 0;
    font-weight: 500;
    color: #555555;
}
.match-list .match-live-list .tm-infor span:nth-child(3){    
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 160px;
    height: 32px;    
    margin: 0 0 0 -80px;
    padding: 4px 0 0 0;
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #0066cc;
}
.match-list .match-live-list .tm-infor span:nth-child(3):after{
    content: " ";
    position: absolute;
    left: -11px;
    top: 0;
    width: 0px;
    height: 0px;
    border-top: 36px solid transparent;
    border-right: 11px solid #0066cc;
}
.match-list .match-live-list .tm-infor span:nth-child(3):before{
    content: " ";
    position: absolute;
    right: -11px;
    top: 0;
    width: 0px;
    height: 0px;
    border-top: 36px solid transparent;
    border-left: 11px solid #0066cc;
}

.no-list{	
	text-align:center;
	width: 100%;
	max-width: 860px;  	
  	margin:0 auto;
  	padding: 70px 20px;
  	color:#999999;
  	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  	background-color: #ffffff;
}
.no-list .text1{
    font-size:18px;	
	color:#333;
}
.contest-total{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    height: 72px;   
    margin: 0 0;
    padding: 0 32px 0;
    font-size: 10px;
    word-break: keep-all;    
    align-items: center;
    background: #fff;
}
.contest-total .count {
    margin:0 0 0 10px;
    font-family: 'Play';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.contest-info {
	position:relative;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
	width:100%;
	max-width:1224px;	
	height:84px;	
	margin:0 auto 0;
	background-color:#d2d9e1;
}
.contest-info .tm-first{
	position:relative;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    max-width:509px;
    width:100%;    
    height:84px;
    justify-content: flex-end
}
.contest-info .tm-infor{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
     -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width:205px; 
    width:100%;
    height:84px;
    text-align: center;
}
.contest-info .tm-second{	
	position:relative;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    max-width:509px;
    width:100%;
    height:84px;    
}
.contest-info  .tm-first .t-first,
.contest-info  .tm-second .t-second{
	padding: 0 12px 0;
	font-family:"play";
	font-size:24px;
	font-weight: bold;
	color:#333333;
}
.contest-info .back-logo:before{
	content:"";
	position:absolute;	
	top:0;
	left:0;
	display:block;
	width:100%;
	max-width:509px;
	height:84px;
	background-size:100% 450%;
	background-position:0 center;
	background-repeat:no-repeat;
	opacity:0.1
}
.contest-info .tm-second.back-logo:before{
	background-position:50px center;
}
.lol .contest-info .back-logo:before{
	background-image:url("/img/Logo_LOL_Default@1x.png");
}
.contest-info .tm-first .t-logo,
.contest-info .tm-second .t-logo
{
	width:72px;
	height:72px;
	background-size:100% 100%;
	background-position:0 0;
	background-repeat:no-repeat;	
}
.lol .contest-info .tm-first .t-logo,
.lol .contest-info .tm-second .t-logo{
	background-image:url("https://dev.rankingball.com:13001/img/Logo_LOL_Default@1x.png");
		
}

.contest-info .tm-infor span{
	font-size:12px;
}
.contest-info .tm-infor span:nth-child(1){
	font-weight: 500;
	color:#555555;
	padding: 7px 0 0 0;
}
.contest-info .tm-infor span:nth-child(2){
	font-weight: 500;
	color:#555555;
	font-size:13px;
	padding: 7px 0 0 0;
	
}
.contest-info .tm-infor span:nth-child(3){
	position:relative;
	width:108px;
	height:24px;	
	margin: 8px auto 0;	
	padding: 3px 0 0 0;
	font-family: 'Noto Sans';
  	font-size: 14px;
  	font-weight:bold;	
  	color:#fff;
  	background-color:#0066cc;
}
.contest-info .tm-infor span:nth-child(3):after{
	content: " ";
    position: absolute;
    left: -11px;
    top: 0;
    width: 0px;
    height: 0px;
    border-top: 25px solid transparent;
    border-right: 11px solid #0066cc;
}
.contest-info .tm-infor span:nth-child(3):before{
	content: " ";
    position: absolute;
    right: -11px;
    top: 0;
    width: 0px;
    height: 0px;
    border-top: 25px solid transparent;
    border-left: 11px solid #0066cc;
}
.contest-info .tm-infor .i-104001{
	display:inline-block;
	width:12px;
	height:12px;
	margin:0 5px 0 0;
	background-image: url("https://dev.rankingball.com:13001/img/icon_infor_soccer@2x.png");
    background-size: 12px 12px;
    background-position: 0 0;
    background-repeat: no-repeat;
}






.contest-list {     
    padding: 15px 32px 20px;
}
.contest-list .contest{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; 
    height: 70px;   
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
}
.contest-list .contest:hover:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    border: 3px solid #0066cc;
}
.contest-list .contest .tit{
    width:174px;
    padding: 0 0 0 28px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.contest-list .contest .grp-box{
    position: relative;
    width: 100%;    
    max-width: 300px;    
}
.contest-list .contest .grp-box .grp-txt{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    margin: 0 0 5px 0;
    justify-content: space-between;
}
.contest-list .contest .grp-box .grp-txt .txt{    
    font-size: 12px;
    color: #818181;
}
.contest-list .contest .grp-box .grp-txt .sum {    
    font-size: 13px;
    color: #818181;
}
.contest-list .contest .grp-box .sum .count {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.contest-list .contest .grp-box .grp {
    position: relative;
    width: 100%;
    height: 4px;
    margin: 0 0;
    border-radius: 2px 2px;
    background: #dadbdd;
}
.contest-list .contest .grp-box .grp .grp-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    border-radius: 2px 2px;
    background: #0079ff;
    animation: grpbar 1s ease-in-out;
    max-width: 100%;
}
.contest-list .contest .prizes{
    width: 100%;    
    max-width: 258px;    
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.contest-list .contest .prizes .tit{    
    padding: 0 0 6px 0;
    font-size: 12px;
    font-weight: normal;
    color: #818181;
}
.contest-list .contest .entry-fee{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    width: 100%;    
    max-width: 400px;
    padding: 0 28px 0 0;    
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.contest-list .contest .entry-fee .btn-box{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; 
    width: 100%;
    max-width: 232px;
    height: 46px;
    font-family: 'play';
    color: #fff;
    border-left: 1px solid #b1b5b8;
    border-right: 1px solid #b1b5b8;
    border-bottom: 1px solid #b1b5b8;
    border-radius: 4px 4px;
    box-shadow: 0 0 0 0;
    background-color: #0066cc;
    cursor: pointer;    
}
.contest-list .contest .entry-fee .btn-box .entry-money{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100px;
    height: 46px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);    
    border-radius: 4px 0 0 4px;    
}
.contest-list .contest .entry-fee .btn-box .entry-txt{
    width: 100%;    
    max-width: 120px;    
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.contest-list .contest .entry-fee .btn-box:hover {
    background-color: #113267;
}